In [83]:
import pandas as pd 
import matplotlib.pyplot as plt

In [84]:
df = pd.read_csv('spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [85]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Category'] = le.fit_transform(df.Category)
df.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [86]:
from sklearn.model_selection import train_test_split
y = df['Category']
x = df['Message']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [87]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
x_vct = cv.fit_transform(x_train.values)
x_vct.shape

(4457, 7781)

In [88]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x_vct, y_train) 
x_vct = cv.transform(x_test).toarray()

x_vct.shape

(1115, 7781)

In [89]:
model.score(x_vct, y_test)

0.989237668161435