In [49]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [50]:
model = LinearRegression()
df = pd.read_csv('/home/afsal/Desktop/vs_code/afsal_python/cs50_ai/ml/code_basics/week_5/carprices.csv')
df.head()

  Car Model  Mileage  Sell Price($)  Age(yrs)
0    BMW X5    69000          18000         6
1    BMW X5    35000          34000         3
2    BMW X5    57000          26100         5
3    BMW X5    22500          40000         2
4    BMW X5    46000          31500         4

In [51]:
dummy = pd.get_dummies(df['Car Model'])
df = pd.concat([df, dummy], axis=1)
x = df.drop(columns=['Car Model', 'Audi A5', 'Sell Price($)'])
y = df['Audi A5']

In [52]:
model.fit(x, y)
model.predict([[45000, 4, 1, 0]])

/home/afsal/.local/lib/python3.10/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([2.22044605e-16])

In [53]:
model.score(x, y)

1.0